@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: #f2b9ac;
    transition: all 0.3s ease-in-out;
    opacity: 1;
  }

  .menu li {
    margin-top: 40px;
  }

  .menu li a {
    padding: 10px;
  }
  .open-menu,
  .close-menu {
    display: block;
  }
  #check:checked ~ .menu {
    right: 0;
  }

  .familia-orden {
    background-color: #f2b9ac;
    color: white;
    text-align: center;
    font-size: 15px;
  }
  .footer {
    background-color: #f2b9ac;
    color: white;
    text-align: justify;
    font-size: 15px;
    padding: 15px;
  }
  .postres-familiaresloc {
    background-color: #f2b9ac;
    color: white;
    text-align: center;
    font-size: 15px;
  }

  .postres-familiares {
    background-color: #f2b9ac;
    color: white;
    text-align: center;
    font-size: 15px;
  }

  .carousel-indicators {
    display: none;
  }

  .carousel-inner {
    display: none;
  }

  .carousel-control-next-icon {
    display: none;
  }

  .carousel-control-prev-icon {
    display: none;
  }

  .contenido {
    background-color: #f2e0d5;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    padding: 10px 10px;
  }

  .widget-2 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 8;

    padding: 20px;
    border-radius: 4px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .widget-2 img {
    width: 250px;
    height: 190px;
    border-radius: 5%;
  }
  .sidebar {
    display: none;
  }

  .footer-row {
    text-align: center;
  }
  .footer-link {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }

  .text-center2 {
    text-align: center;
  }
}

@media (max-width: 376px) {
  .widget-2 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 8;

    padding: 20px;
    border-radius: 4px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
